body {
    font-family: sans-serif;
}

video {
    max-width: 100%;
    width: 320px;
}

h4 {
    margin: 1em 0;
}

h5 {
    margin: 1em 0;
}

.roomCreate {
    margin: 2em 0 1em 0;
}

.joinButton {
    width: 100%;
}

.borderLine {
    border-top: 1px dotted;
    margin: 1em 0;
}

.sendFileBtn {
    display: block;
    margin-top: 10px;
}

.fileTable {
    border: 1px solid;
    margin: 1em 0;
    width: 500px;
}

    .fileTable th {
        background: #e8eaed;
        border: 1px solid;
    }

    .fileTable td {
        border: 1px dotted;
    }
