@{
    ViewData["Title"] = "WebRTC";
}

@section StyleSheets{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/webrtc.css" type="text/css" />
}

<input id="dataNum" value="1" />
<button id="testButton">test</button>

<h3>Create your room</h3>
<div style="margin: 1em 0">
    <label for="name">Name:</label>
    <input type="text" id="name" />
    <button id="createBtn">Create</button>
</div>

<h3>Available room list</h3>
<div style="margin: 1em 0">
    <table id="roomTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Owner</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="workArea" style="margin: 1em 0">
    <p id="connectionStatus"></p>

    <div id="videoCanvas">
        <video id="localVideo" autoplay playsinline></video>
        <video id="remoteVideo" autoplay playsinline></video>
        @*<video id="camera" autoplay playsinline></video>*@
        <canvas id="photo"></canvas>
    </div>

    <div id="buttons">
        <button id="snap">Snap</button><span> then </span><button id="send">Send</button>
        <span> or </span>
        <button id="snapAndSend">Snap &amp; Send</button>
    </div>

    <div id="incoming">
        <h2>Incoming photos</h2>
        <div id="trail"></div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/webrtc.js"></script>
    <script>
        $(document).ready(function () {
            $('#roomTable').DataTable({
                columns: [
                    { data: 'RoomId', "width": "30%" },
                    { data: 'Name', "width": "50%" },
                    { data: 'Button', "width": "15%" }
                ],
                "lengthChange": false,
                "searching": false,
                "language": {
                    "emptyTable": "No room available"
                }
            });
        });
    </script>
}
