@{
    ViewData["Title"] = "WebRTC";
}

@section StyleSheets{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/webrtc.css" type="text/css" />
}

<div style="margin: 2em 0 1em 0;">
    <label for="name">Room Name:</label>
    <input type="text" id="roomNameTxt" />
    <button id="createRoomBtn">Create</button>
</div>

<div>
    <table id="roomTable" class="display" style="width:100%; margin: 1em 0;">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="room" style="border-top:1px dotted; margin: 1em 0;">
</div>
<div>
    <div class="connectionStatus">
        <p id="connectionStatusMessage">*You can creat your own room or join the other room.</p>
    </div>
    <h5>Video chat</h5>
    <div id="workArea" style="margin: 1em 0">

        <div id="videoCanvas">
            <video id="localVideo" autoplay playsinline></video>
            <video id="remoteVideo" autoplay playsinline></video>
        </div>

        <h5>File sharing</h5>
        <div id="fileShare">
            <input type="file" id="fileInput">
            <button id="sendFileBtn" style="display:block; margin-top: 10px;">Send</button>
        </div>
        <table id="fileTable" class"files" style="border:1px solid; margin: 1em 0; width: 500px;">
            <thead>
                <tr>
                    <th style="background: #e8eaed; border:1px solid;">Received Files</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                        <td style="border:1px dotted;">test file</td>
                    </tr>*@
            </tbody>
        </table>
        <div id="files">

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/webrtc.js"></script>
    <script>
        $(document).ready(function () {
            $('#roomTable').DataTable({
                columns: [
                    { data: 'RoomId', "width": "30%" },
                    { data: 'Name', "width": "50%" },
                    { data: 'Button', "width": "15%" }
                ],
                "lengthChange": false,
                "searching": false,
                "language": {
                    "emptyTable": "No room available"
                }
            });
        });
    </script>
}
